.contact {
  padding: 38px 30px;
  border-top: 1px solid #ececec;
}

.contact__title {
  margin-bottom: 28px;
}

.contact__table {
  margin-bottom: 63px;
}

.contact__table tr {
  width: 260px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact__table tr td {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}

.contact__table tr:first-child {
  margin-bottom: 30px;
}

.contact__table tr td:first-child {
  margin-right: 25px;
}

.contact__table tr:first-child td:last-child {
  border-bottom: 1px solid #62d1ba;
}

.contact__map {
  margin-left: -30px;
  position: relative;
}

.contact__map img:last-child {
  position: absolute;
  top: -60px;
  left: 50px;
  right: 0;
  bottom: 0;
  margin: auto;
}

.contact__link {
  background-color: #ffffff;
  padding: 16px 38px;
  border: 2px solid #444444;
  display: block;
  text-align: center;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: @bold;
  font-size: 17px;
  line-height: 20px;
  margin-top: 55px;
}
