.contact-map img:last-child {
  position: absolute;
  top: -60px;
  left: 50px;
  right: 0;
  bottom: 0;
  margin: auto;
}

.contact-map iframe {
  border: none;
  display: block;
  width: 100%;

  @media (max-width: 320px) {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .contact-map {
    margin: 0 -50px;
  }
}

@media (min-width: @desktop-width) {
  .contact-map {
    margin: -79px 0;
  }

  .contact-map__tablet {
    display: none;
  }

  .contact-map__desktop {
    display: block;
    position: relative;
  }

  .contact-map iframe {
    width: 527px;
    margin-left: -100px;
  }
}
