.info {
  padding: 31px 30px 0;
  border-top: 1px solid #ececec;
}

.info__title {
  margin-bottom: 28px;
}

.info__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.info__item {
  font-weight: @bold;
  font-size: 17px;
  line-height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &--flower::before {
    content: url("../img/index/icon-1.svg");
    margin-bottom: 16px;
    width: 33px;
    height: 38px;
  }

  &--bill::before {
    content: url("../img/index/icon-3.svg");
    margin-bottom: 26px;
    width: 47px;
    height: 27px;
  }

  &--heart::before {
    content: url("../img/index/icon-5.svg");
    margin-bottom: 21px;
    width: 34px;
    height: 27px;
  }

  &--ball::before {
    content: url("../img/index/icon-2.svg");
    margin-bottom: 17px;
    width: 35px;
    height: 34px;
  }

  &--rocket::before {
    content: url("../img/index/icon-4.svg");
    margin-bottom: 26px;
    width: 55px;
    height: 23px;
  }

  &--gift::before {
    content: url("../img/index/icon-6.svg");
    margin-bottom: 20px;
    width: 33px;
    height: 32px;
  }
}

.info__item:not(:last-child) {
  margin-bottom: 32px;
}


@media (min-width: 768px) {
  .info {
    padding-top: 55px;
    padding-left: 0;
    padding-right: 0;
  }

  .info__title {
    margin-bottom: 41px;
  }

  .info__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .info__item {
    flex-basis: 45%;

    &--flower {
      order: 1;
    }

    &--bill {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--ball {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }

  .info__item:not(:nth-child(5)) {
    margin-bottom: 60px;
  }

  .info__item:nth-child(3) {
    margin-bottom: 83px;
  }

  .info__item:nth-child(6) {
    margin-bottom: 83px;
  }
}

@media (min-width: @desktop-width) {
  .info {
    padding: 68px 176px;
  }

  .info__title {
    font-size: 53px;
    line-height: 57px;
  }

  .info__item {
    font-size: 20px;
    line-height: 22px;
  }
}
