.reviews {
  padding: 0 30px 45px 30px;
  margin-top: 58px;
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews p {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 33px;
}

.reviews__user {
  margin-bottom: 30px;
}

.reviews__user b {
  font-weight: @bold;
  font-size: 17px;
  line-height: 24px;
}

.reviews__user span {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #444444;
}

.reviews__arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.reviews__arrow {
  padding: 12px 40px;
  border: none;
  outline: 2px solid #ECECEC;
}

.reviews__button {
  padding: 14px 78px;
  font-weight: @bold;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  border: 2px solid #444444;
  text-transform: uppercase;
  display: block;
}
