.reviews {
  padding: 0 30px 34px;
  max-width: 320px;
  margin: 58px auto 0 auto;
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__title .reviews__button {
  display: none;
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
}

.reviews p {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 33px;
}

.reviews__button {
  padding: 14px 78px;
  font-weight: @bold;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  border: 2px solid #444444;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 33px;

  &--tablet {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    background-image: url("../img/index/review.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 82px 0 53px 50px;
    max-width: 768px;
    margin: 51px auto 68px auto;
    margin-left: -50px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/review-tablet@2x.png");
      background-size: contain;
    }
  }

  .reviews__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  .reviews__title .reviews__button {
    padding: 14px 36px;
    display: block;
    margin-top: -10px;
  }

  .reviews__button {
    display: none;
  }

  .reviews__button:hover {
    color: #ffffff;
    background-color: #444444;
  }

  .reviews__button:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .reviews__text {
    margin-bottom: 60px;
    font-size: 17px;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    max-width: 1150px;
    margin: 0 auto 67px auto;
    padding: 79px 0 101px 175px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/review-desktop@2x.png");
    }
  }

  .reviews__title {
    margin-bottom: 31px;
  }

  .reviews__title h2 {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    font-size: 17px;
    max-width: 814px;
    margin-bottom: 43px;
  }
}
