.link-catalog__card {
  background-color: #ffffff;
  padding: 25px 30px;
  border: 1px solid #ececec;
  margin-top: -6px;
}

.link-catalog__card-name {
  margin-bottom: 5px;
}

.link-catalog__card span {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.link-catalog__card-price {
  margin-top: 18px;
  padding-top: 22px;
  border-top: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-catalog__card-price b {
  font-weight: @bold;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.link-catalog__card-price button {
  background-color: #ffffff;
  border: none;
}
