.production {
  padding: 0 30px;
  max-width: 320px;
  margin: 0 auto 58px auto;
}

.production__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 21px 13px 26px 34px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.production__title img {
  margin-right: 25px;
}

.production__title h2 {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-left: 25px;
}

.production__text {
  border: 1px solid #ececec;
}

.production__text p {
  margin: 33px 0 0 33px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.production__text button {
  margin: 41px 0 0 33px;
  font-weight: @bold;
  font-size: 18px;
  line-height: 16px;
  color: #444444;
  border: 2px solid #444444;
  padding: 16px 21px 16px 19px;
  display: block;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .production {
    padding: 0;
    max-width: 768px;
    margin: 0 auto 72px auto;
  }

  .production__title {
    display: none;
  }

  .production__text {
    border: none;
    max-width: 668px;
    margin: 0 auto;
  }

  .production__text p {
    font-size: 15px;
    line-height: 30px;
    margin: 25px 0 0 40px;
    max-width: 592px;
  }

  .production__text button {
    max-width: 584px;
    width: 100%;
    font-size: 17px;
    margin: 41px 0 45px 41px;
  }
}

@media (min-width: @desktop-width) {
  .production {
    max-width: 1150px;
    margin: 0 auto 116px auto;
  }

  .production__text {
    max-width: 1050px;
    margin: 0 auto;
  }

  .production__text p {
    margin-left: -1px;
    margin-top: 25px;
  }

  .production__text button {
    margin-left: 0;
    max-width: 230px;
    padding: 16px 0;
  }
}
