.production {
  padding: 0 30px;
  margin-bottom: 58px;
}

.production__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 21px 13px 26px 34px;
  background-color: #ffffff;
  border: 1px solid #ececec;
}

.production__title img {
  margin-right: 25px;
}

.production__title h3 {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.production__text {
  border: 1px solid #ececec;
}

.production__text p {
  margin: 35px 0 0 34px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.production__text button {
  margin: 41px 0 33px 34px;
  font-weight: @bold;
  font-size: 18px;
  line-height: 16px;
  color: #444444;
  border: 2px solid #444444;
  padding: 18px 30px;
  display: block;
}

@media (min-width: @tablet-width) {
  .production {
    padding: 0;
    margin-bottom: 64px;
  }

  .production__title {
    display: none;
  }

  .production__text {
    border: none;
  }

  .production__text p {
    font-size: 15px;
    line-height: 30px;
  }

  .production__text button {
    max-width: 584px;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .production {
    margin-bottom: 105px;
  }

  .production__text p {
    margin-left: 0;
    margin-top: 27px;
  }

  .production__text button {
    margin-left: 0;
    max-width: 232px;
    padding: 16px 0;
  }
}
