.text-production__video {
  position: relative;
}

.text-production__video button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
  border: none;
  outline: none;
}

.text-production__title {
  display: none;
}

.text-production__video-tablet {
  display: none;
}

.text-production__video-desktop {
  display: none;
}

.text-production__video button svg {
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
}

.text-production__video button svg:hover {
  scale: 1.2;
}

.text-production__video button svg:active {
  scale: 0.8;
}

.text-production__info .order {
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
}

.text-production__info .order:hover {
  color: #ffffff;
  background-color: #444444;
}

.text-production__info .order:active {
  color: rgba(255, 255, 255, 0.3);
}


@media (min-width: @tablet-width) {
  .text-production__video-mobile {
    display: none;
  }

  .text-production__video-tablet {
    display: block;
  }

  .text-production__info {
    border: 1px solid #eeeeee;
  }

  .text-production__title {
    margin: 39px 42px;
    display: flex;
  }

  .text-production__title img {
    margin-right: 33px;
  }

  .text-production__title h3 {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .text-production__video-tablet {
    display: none;
  }

  .text-production__video-desktop {
    display: block;
  }

  .text-production {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .text-production__info {
    padding: 43px 36px 60px 79px;
  }

  .text-production__info .order {
    margin: 48px 0 0;
  }

  .text-production__title {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }

  .text-production__title img {
    margin-bottom: 27px;
  }
}
