.text-production__video {
  position: relative;
}

.text-production__video button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
  border: none;
  outline: none;
}

.text-production__title {
  display: none;
}

.text-production__video-tablet {
  display: none;
}

@media (min-width: 768px) {
  .text-production__video-mobile {
    display: none;
  }

  .text-production__video-tablet {
    display: block;
  }

  .text-production__info {
    border: 1px solid #eeeeee;
  }

  .text-production__title {
    margin: 39px 42px;
    display: flex;
  }

  .text-production__title img {
    margin-right: 33px;
  }
}
