.header {
  background-color: #FFFFFF;
}

.header__logo {
  text-align: center;
  padding: 22px 0;
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.header__nav {
  display: none;

  .nav__list {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav__item {
    padding: 27px 0;
  }

  .nav__link {
    font-weight: @bold;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
  }
}
