.header__logo {
  text-align: center;
  padding: 22px 30px 17px;

  &--mobile {
    max-width: 86px;
  }

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__logo {
    padding: 0;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      max-width: 113px;
      margin-top: 7px;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -50px;
    padding: 0 50px;
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .header__logo {
    position: absolute;
    left: 0;
    right: 0;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
      max-width: 150px;
      margin: 9px auto 0;
    }

    &--desktop svg {
      transition-timing-function: ease-out;
      transition-duration: 0.1s;
    }

    &--desktop svg:hover {
      opacity: 0.6;
    }

    &--desktop svg:active {
      opacity: 0.3;
    }
  }
}
