.zigzag-fill {
  margin-left: -50px;

  &--desktop {
    display: none;
  }

  &--tablet {
    display: none;
  }
}

.zigzag-line {
  max-width: 320px;
  margin: 0 auto;

  &--desktop,
  &--tablet {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .zigzag-fill {
    &--tablet {
      display: block;
      max-width: 768px;
      margin: 0 auto 0;
    }
  }

  .zigzag-fill__main {
    margin-left: -50px;
  }

  .zigzag-fill__main .zigzag-fill--tablet {
    margin-top: -10px;
  }

  .zigzag-line {
    max-width: 768px;
    margin: 0 auto;

    &--desktop,
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      margin-left: -50px;
    }
  }
}

@media (min-width: @desktop-width) {
  .zigzag-fill {
    margin-top: -21px;
    margin-left: -50px;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
      max-width: 1150px;
    }
  }

  .zigzag-fill__main .zigzag-fill--desktop {
    margin-top: -17px;
  }

  .zigzag-line {
    max-width: 1150px;
    margin: 0 auto;

    &--tablet,
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
      // margin-left: -50px;
    }
  }
}
