.filter-form legend {
  font-weight: @bold;
  font-size: 17px;
  line-height: 16px;
  color: @lg;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.filter-form__input span {
  font-weight: @bold;
  font-size: 17px;
  line-height: 18px;
}

.filter-form__input:not(:last-child) {
  margin-bottom: 23px;
}
