.filter-form__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 262px;
}

.filter-form__title hr {
  height: 1px;
  width: 200px;
  border: none;
  background-color: @lg;
}

.filter-form__title span {
  font-weight: @bold;
  font-size: 17px;
  line-height: 16px;
  color: @lg;
  text-transform: uppercase;
}

.filter-form__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.filter-form__input span {
  font-weight: @bold;
  font-size: 17px;
  line-height: 18px;
}

.filter-form__input:not(:last-child) {
  margin-bottom: 23px;
}


.filter-form__input input[type="text"],
input[type="tel"],
input[type="email"] {
  border: none;
  border-bottom: 2px solid #000000;
  width: 260px;
  height: 52px;
  outline: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.filter-form__input input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.filter-form__input textarea {
  resize: none;
  border: 2px solid #000000;
  width: 260px;
  height: 142px;
  outline: none;
  padding: 17px 0 0 17px;
  margin-top: 22px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.filter-form__input textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: @tablet-width) {
  .filter-form__title hr {
    display: none;
  }

  .filter-form__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filter-form__input {
    flex-basis: 50%;
  }

  .filter-form__title {
    max-width: 107px;
    width: 100%;
    margin-bottom: 0;
    margin-right: 62px;
  }

  .filter-form__input input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 501px;
  }

  .filter-form__input textarea {
    width: 501px;
  }
}

@media (min-width: @desktop-width) {
  .filter-form__list {
    display: flex;
    flex-direction: column;
  }

  .filter-form__title {
    width: 107px;
    margin-right: 22px;
  }

  .filter-form__input {
    flex-basis: 33%;
  }

  .filter-form__input input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 698px;
  }

  .filter-form__input textarea {
    width: 698px;
  }
}
