.product-form__user {
  .form__filter {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form__filter:not(:last-child) {
    margin-bottom: 30px;
  }

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
  }
}
