.product-form__user {
  .form__filter {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form__filter:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .product-form__user .form__filter {
    display: flex;
    flex-direction: row;
  }
}

